header {
  margin-bottom: 1em;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'AXIS Font Japanese W55', sans-serif;
  font-weight: 200;
}

h1.page-title {
  font-family: 'AXIS Font Japanese W55', sans-serif;
  font-weight: 200;
}

p {
  font-family: 'AXIS Font Japanese W55', sans-serif;
}

.post-meta, .pagination {
  font-family: 'AXIS Font Japanese W55', sans-serif;
}
